---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %} 

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %} 
  <!-- {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %} -->
  {% for post in site.publications reversed %}
    <div style="display: flex; align-items: flex-start; margin-bottom: 20px;">
        <!-- Controllo se esiste un'immagine -->
        {% if post.image %}
        <div style="flex: 0 0 100px; margin-right: 15px;">
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" style="width: 100px; height: auto; border-radius: 5px;">
        </div>
        {% endif %}
        <!-- Dettagli della pubblicazione -->
        <div>
        <h3 style="margin: 0;">
            <a href="{{ post.permalink }}">{{ post.title }}</a>
        </h3>
        <p>{{ post.excerpt }}</p>
        <p>
            Published in <i>{{ post.publication }}</i>, {{ post.year }}
        </p>
        {% if post.paperurl %}
            <a href="{{ post.paperurl }}">Download Paper</a>
        {% endif %}
        {% if post.codeurl %}
            | <a href="{{ post.codeurl }}">View Code</a>
        {% endif %}
        </div>
    </div>
    {% endfor %}

{% endif %}



